@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            <div class="row">
                <div class="col-6">@Body</div>
                <div class="col-6" style="border:2px; border-color:red;">
                    <NotificationComponent></NotificationComponent>
                </div>
            </div>
        </div>
    </div>
</div>
