<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">eBike.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bike-insert">
                <span class="fas fa-bicycle fa-2x" aria-hidden="true"></span> Insert Bike
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bike-reader">
                <span class="fas fa-biking fa-2x" aria-hidden="true"></span> Check Bikes
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="aggregator">
                <span class="fas fa-sort-amount-down fa-2x" aria-hidden="true"></span> Aggregator
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
